@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  #custom-stacked-area-chart {
    position: relative;
  }

  #area-chart-container {
    overflow-x: auto;
  }

  #area-chart {
    position: absolute;
  }
}

#render-legend-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  padding: 0;
  padding-left: 3.75rem;
  list-style: none;
}