.table-pagination p {
  margin: auto 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  display: flex;
  flex-flow: column;
}

.or {
  display: flex;
  justify-content: center;
}

.or::before,
.or::after {
  display: inline-block;
  content: '';
  border-top: 0.1rem solid #797979;
  width: 100%;
  margin: auto 0px;
}

.or::before {
  margin-right: 4px;
}

.or::after {
  margin-left: 4px;
}

#search {
  display: inline-flex;
  width: 90%;
  justify-content: flex-end;
  position: relative;
  top: 2rem;
}

#search>div {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  column-gap: 0.5rem;
  z-index: 9007199254740991;
  border: 1px solid black;
}

#search-input {
  border: 0;
}

#search-input:focus {
  outline: 0;
}