#awards-title {
  text-align: center;
  margin: 2rem 0;
}

#span-energy {
  display: contents;
  font-weight: 500;
}

#cards-container {
  display: flex;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}