.display-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

.card-media {
  height: 12rem;
}

.card-content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}