#container {
  height: 100vh;
}

#paper {
  margin: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar-lock {
  margin: 8px;
  width: 40px;
  height: 40px;
  background-color: var(--palette-primary-main);
}

#form {
  width: 100%;
  margin-top: 8px;
}

#submit-button {
  margin: 24px 0px 16px 0px;
}

#image {
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
}

.a:hover {
  cursor: pointer;
}

.pm-awesome-divider {
  border-top: solid thin #f0f0f0;
  margin: 1rem 0;
  text-align: center;
  margin-bottom: 0.375rem;
}

.pm-awesome-divider:after {
  content: attr(data-label);
  background: #fff;
  padding: 0 2rem;
  position: relative;
  top: -13px;
  color: #9b9b9b;
}

#google-auth {
  margin-bottom: 1rem;
}