#avatar-profile {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.container {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.container:hover * {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--palette-secondary-main);
}

.container:hover .overlay {
  opacity: 0.5;
}

.icon {
  color: var(--almost-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.centred {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
