#container {
  height: 100vh;
}

#paper {
  margin: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar-lock {
  margin: 8px;
  width: 40px;
  height: 40px;
  background-color: var(--avatar-color);
}

#form {
  width: 100%;
  margin-top: 8px;
}

#submit-button {
  margin: 24px 0px 16px 0px;
}

#image {
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
}
